@using System.Globalization
@using HobbyMatch.Domain.Entities
<h3>Location</h3>
@if (_source != null)
{
	<iframe width="100%"
		height="300"
		style="border:0"
		loading="lazy"
		allowfullscreen
		referrerpolicy="no-referrer-when-downgrade"
		src=@_source>
</iframe>
}
else{
	<p>No Data</p>
}
@code {
	[Parameter]
	public required LocationNullable Location { get; set; }

	private string _source { get; set; }
	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();
		if (Location != null && Location.Latitude.HasValue && Location.Longitude.HasValue)
			_source = $"https://www.google.com/maps?q={Location.Latitude.Value.ToString(CultureInfo.InvariantCulture)},{Location.Longitude.Value.ToString(CultureInfo.InvariantCulture)}&z=15&output=embed";
	}
}
