@page "/"
@rendermode InteractiveServer
@inject NavigationManager navigationManager
@using Microsoft.AspNetCore.Components.Authorization

<CascadingAuthenticationState>
    <AuthorizeView>
        <Authorized>
            @{
                navigationManager.NavigateTo("/home");
            }
        </Authorized>
    </AuthorizeView>
</CascadingAuthenticationState>

<MudContainer>
    <div class="full-background" />

    <MudGrid Justify="Justify.Center" AlignItems="Center" Style="height: 100vh;">
        <MudItem xs="12" md="6" Class="text-center text-container">

            <div class="overlay">

                <MudText Variant="h2" Class="slogan-text mt-5">
                    Find friends
                </MudText>
                <MudText Variant="h2" Class="slogan-text">
                    Find place
                </MudText>
                <MudText Variant="h2" Class="slogan-text">
                    Play with no limits
                </MudText>

                <button style="position: fixed; bottom: 40px; left: 25%; transform: translateX(-50%);"
                        class="btn btn-primary large-button mt-5" @onclick="SignUpAction">
                    Sign up for free
                </button>
            </div>
        </MudItem>

        <MudItem xs="12" md="6" Class="d-flex justify-center">

        </MudItem>
    </MudGrid>
</MudContainer>

@code {
    private void SignUpAction()
    {
        navigationManager.NavigateTo("/SignUp");
    }

}
